<h1>You have been removed from a project</h1>

<p>
  Hi <%= @user.name %>,
</p>

<p>
  You have been removed from the following project:
</p>

<h2><%= @project.name %></h2>

<p>
  <strong>Details:</strong> <%= @project.description %>
</p>

<p>
  Please let us know if you have any questions.
</p>

<p>
  Regards,<br>
  Project Manager
</p>
