 <h2>New Bug Created</h2>
  
  <p>A new bug has been created with the following details:</p>
  
  <ul>
    <li><strong>Title:</strong> <%= @bug.title %></li>
    <li><strong>Description:</strong> <%= @bug.description %></li>
    <li><strong>Status:</strong> <%= @bug.status %></li>
    <li><strong>Deadline:</strong> <%= @bug.deadline %></li>
  </ul>

  <p>Please assign it to resolved it.</p>
  
  <p>Regards,<br>Team</p>